
body {
    font-family: Lato;
    background-color: #b2c7df;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 20px;
}

.header {
    text-align: center;
    background-color: #454A82;
    padding: 10px 0;
}

.header img {
    max-width: 100%;
    height: auto;
}

.form-section {
    width: 45%;
    background-color: #e0e6f8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-section input, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #3f3f77;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.table-section {
    width: 45%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #3f3f77;
    color: white;
}